.header {
    position: relative;
    background-color: $white;
    z-index: 1;

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 3.3rem;
        background-image: linear-gradient($darkBlue, transparent);
        opacity: 0;
        z-index: 1;
    }

    .hamMenu {
        position: absolute;
        background-color: $white;
        width: calc(100% - 3rem);
        right: 50%;
        transform: translateX(50%);
        border-radius: 5px;
        top: 70px;
        padding: 1rem;
        opacity: 0;
        z-index: 1;

        a {
            display: block;
            text-align: center;
            font-size: 1rem;
            color: $darkBlue;
            padding: 0.8rem 0;
        }
    }

    .nav {
        align-items: center;
        max-height: 6.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }

    &__logo {
        width: 5.375rem;
        height: 1.3125rem;
    }

    &__links {

        a {
            color: $grey;
            font-size: 0.9375rem;
            position: relative;
            transition: 200ms ease-in-out;

            &::before {
                content: "";
                display: block;
                opacity: 0;
                border: 3px solid $pink;
                border-radius: 2px;
                width: 100%;
                height: 5px;
                top: 49px;
                right: 0;
                bottom: 0;
                left: 0;
                position: absolute;
                transition: 200ms ease-in-out;
            }


            &:hover {
                color: $darkBlue;


                &::before {
                    content: "";
                    display: block;
                    opacity: 1;
                    border: 3px solid $pink;
                    border-radius: 2px;
                    width: 100%;
                    height: 5px;
                    top: 49px;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                }
            }
        }

        a:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__button {
        color: $white;
        background-color: $darkBlue;
        font-size: 1.125rem;
        font-weight: 500;
        padding: 1.0625rem 1.9375rem;
        border: 1px solid $darkBlue;
        border-radius: 30px;
        transition: 200ms ease-in-out;

        &:hover {
            background-color: $white;
            border: 1px solid $darkBlue;
            color: $darkBlue;
            // box-shadow: 1px 2px 10px $darkBlue;
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            transform: translateY(-2px);

            &:active {}
        }


    }

    &__menu {
        cursor: pointer;

        >span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: black;
            transform-origin: 3px 1px;
            transition: 200ms ease-in-out;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}