// Colors
$purple: #666ca3;
$darkBlue: #13183f;
$grey: #83869a;
$pink: #f74780;
$lightPink: #ffa7c3;
$white: #ffffff;
$linearOrange: linear-gradient(#ff3700, #ff00a2);
$linearBlue: linear-gradient(#4851ff, #f02aa6);

// Text Size Body
$font-body-sm: 1rem; // 16px
$font-body-m: 1.125rem; // 18px

// Text Size Heading
$font-heading-sm: 1.5rem; // 24px
$font-heading-m: 2rem; // 32px
$font-heading-l: 2.5rem; // 40px
$font-heading-xl: 3.5rem; // 56px